.abtMe:after{
        content: "";
        background: #ff5959;
        border-radius: 25px;
        display: block;
        height: 5px;
        margin-top: 4px;
        width: 30px;
}
.eduBg{
        background: #ff5959;
        border-radius: 5px;
}