.socialLink{
    list-style-type: none;
    display: inline-flex;
    margin-left: -35px;
    margin-top: -25px;
}
.socialLink>li{
    margin: 5px;
    padding: 2px
}
.contactBg{
    background: url('../assets//images/contact.jpg') no-repeat center;
}
.cardBg{
    background: #00000087;
    color: white
}