.bgImg{
    background: linear-gradient(to right, #aa076b, #61045f)
}
.profile{
    border-radius: 50%;
    height: 200px;
    width: 200px;    
}
.name{
    font-size: 4.0 rem;
    color: white;
    font-weight: 700;
}
